// Colors
$whiteColor: #fff;
$whiteGrayColor: #f6f6f6;
$blackColor: #000;
$grayColor: #eee;
$darkGrayColor: #7d7d7d;
$highlightColor: #0093e5;
$textColor: #7c7c7c;
$titleColor: #4d4d4d;
$borderColor1: #2cf7ec;
$borderColor2: #3dbaff;
$linearColor1: #3fadff;
$linearColor2: #30e5f0;

// Fonts
$openSansFont: "Open Sans", Arial, Tahoma, sans-serif;
$juraFont: "Jura", Arial, Tahoma, sans-serif;
