@import "vars";
@import "_mixins/common";
@import "./node_modules/sass-mediaqueries/media-queries";


// *** COMMON STYLES ***
// =====================

*,
*::before,
*::after {
	box-sizing: border-box;
}

::-webkit-input-placeholder {
	color: $titleColor;
	font-weight: normal;
	opacity: 1;
}
:-moz-placeholder {
	color: $titleColor;
	font-weight: normal;
	opacity: 1;
}
::-moz-placeholder {
	color: $titleColor;
	font-weight: normal;
	opacity: 1;
}
:-ms-input-placeholder {
	color: $titleColor;
	font-weight: normal;
	opacity: 1;
}

html,
body {
	height: 100%
}

body {
	position: relative;
	overflow-x: hidden;
	color: $textColor;
	font-family: $openSansFont;
	font-size: 16px;
	font-weight: normal;
	line-height: 24px;
	background-color: $whiteColor;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	outline: 0;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;

	@include max-screen($tablet-max) {
		padding: 0 15px;
	}
}

.highlight-color {
	color: $highlightColor;
	font-weight: bold;
}


// *** MOBILE TOP LINE ***
// =======================
.m-top-line {
	display: flex;
	align-items: center;
	background-color: $whiteColor;
	@include min-screen($grid) {
		@include vis-hid;
	}

	&__sandwich {
		position: relative;
		z-index: 201;
		flex: 1;
		max-width: 24px;
		height: 24px;
		@include btn-tag;
		&.active {
			span {
				margin-bottom: 0;
				&:first-child {
					position: relative;
					top: 2px;
					max-width: 100%;
					transform: rotate(45deg);
				}
				&:nth-child(2) {
					@include vis-hid;
				}
				&:last-child {
					transform: rotate(-45deg);
				}
			}
		}

		span {
			display: block;
			height: 2px;
			margin-bottom: 5px;
			background-color: $titleColor;
			transition: all 0.25s ease-in-out;
			&:last-child {
				margin-bottom: 0;
			}
			&:first-child {
				max-width: 21px;
			}
			&:nth-child(2) {
				max-width: 17px;
			}
		}
	}

	&__logo {
		flex: 1;
		max-width: 77px;
		margin: 0 auto;

		img {
			vertical-align: middle;
		}
	}
}


// *** 1. MAIN HEADER ***
// ======================
.main-header {
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
	min-height: 71px;
	background-color: $whiteColor;
	box-shadow: 0 5px 5px rgba($blackColor, 0.4);
	@include max-screen($tablet-max) {
		display: flex;
		align-items: center;
		min-height: 47px;
	}
	@include screen($tablet, $tablet-max) {
		min-height: 55px;
	}
}

.top-nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&.active {
		left: 0;
	}
	@include max-screen($tablet-max) {
		position: fixed;
		top: 0;
		left: -100vw;
		z-index: 200;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100vh;
		overflow: auto;
		padding-top: 50px;
		background-color: $whiteColor;
		transition: all 0.25s ease-in-out;
	}
	@include screen($tablet, $tablet-max) {
		width: 50%;
		transition: all 0.5s ease-in-out;
	}

	&__list {
		display: flex;
		align-items: center;
		margin: 0;
		padding: 0;
		list-style: none;
		@include max-screen($tablet-max) {
			flex-direction: column;
			width: 100%;
			text-align: center;
		}
	}

	&__item {
		display: block;
		margin-right: 50px;
		&:last-child {
			margin-right: 0;
		}
		@include max-screen($tablet-max) {
			width: 100%;
			margin-right: 0;
			margin-bottom: 15px;
		}
		@include screen($tablet, $tablet-max) {
			width: auto;
		}
	}

	&__link {
		position: relative;
		display: block;
		overflow: hidden;
		padding: 18px 0;
		color: $titleColor;
		font-family: $openSansFont;
		font-size: 15px;
		font-weight: bold;
		line-height: 35px;
		text-transform: uppercase;
		transition: all 0.15s ease-in-out;
		&::after {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			bottom: 0;
			display: block;
			height: 3px;
			background-color: transparent;
			transition: all 0.25s ease-in-out;
			transform: translateX(-100%);
			@include max-screen($mobile) {
				@include vis-hid;
			}
		}
		&:hover,
		&:active,
		&.active,
		&.mPS2id-highlight {
			color: $highlightColor;
			&::after {
				background-color: $highlightColor;
				transform: translateX(0);
			}
			@include max-screen($mobile) {
				color: $whiteColor;
				background-color: $highlightColor;
			}
		}
		@include max-screen($mobile) {
			width: 100%;
			padding: 15px 0;
		}
	}

	&__logo {
		display: block;
		width: 100%;
		max-width: 94px;
		@include max-screen($tablet-max) {
			order: -1;
			max-width: 150px;
			margin-bottom: 50px;
		}
	}
}


// *** 2. SECTION "HERO" ***
// =========================
.sect-hero {
	//height: 100vh;
	margin-top: 71px;
	padding: 175px 0 380px;
	background: $blackColor url("../img/backgrounds/hero_bg.jpg") no-repeat center;
	background-size: cover;
	@include max-screen($tablet-max) {
		background: $blackColor url("../img/backgrounds/mobile/hero_bg.jpg") no-repeat center;
		background-size: cover;
	}
	@include max-screen($mobile) {
		margin-top: 47px;
		padding: 85px 0 50px;
	}
	@include screen($tablet, $tablet-max) {
		margin-top: 55px;
		padding: 175px 0;
	}

	&__content {  }

	&__descr {
		margin-bottom: 25px;
		color: $whiteColor;
		font-family: $juraFont;
		font-size: 22px;
		font-weight: normal;
		line-height: 32px;
		@include max-screen($tablet-max) {
			text-align: center;
		}
		@include max-screen($mobile) {
			margin-bottom: 60px;
			font-size: 18px;
			line-height: 24px;
		}

		p {
			margin: 0;
		}
	}

	&__order {
		position: relative;
		display: flex;
		align-items: center;
		@include max-screen($tablet-max) {
			flex-direction: column;
		}
	}

	&__link {
		@include button(inline-block);
	}

	&__separator {
		display: block;
		margin: 0 30px;
		color: $whiteColor;
		font-family: $openSansFont;
		font-size: 11px;
		font-weight: bold;
		line-height: 17px;
		text-transform: uppercase;
		@include max-screen($tablet-max) {
			order: -1;
			margin: 15px 0;
		}
		@include max-screen($mobile) {
			margin: 7px 0 15px;
			font-size: 9px;
			line-height: 17px;
		}
	}

	&__phones {
		display: flex;
		flex-direction: column;
		@include max-screen($tablet-max) {
			order: -2;
		}
	}

	&__phone {
		display: block;
		color: $whiteColor;
		font-family: $juraFont;
		font-size: 22px;
		font-weight: bold;
		line-height: 35px;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		@include max-screen($mobile) {
			font-size: 18px;
			line-height: 30px;
		}
	}

	&__pointer {
		position: absolute;
		top: 65px;
		left: -135px;
		@include max-screen($mobile) {
			@include vis-hid;
		}
		@include screen($tablet, $tablet-max) {
			top: 170px;
			left: 140px;
		}

		&-img {
			position: absolute;
			top: -37px;
			right: -96px;
		}

		&-text {
			display: block;
			width: 28px;
			height: 28px;
			color: $darkGrayColor;
			font-family: $juraFont;
			font-size: 14px;
			font-weight: bold;
			line-height: 1;
			text-transform: uppercase;
			@include max-screen($tablet-max) {
				color: $whiteColor;
			}

			&--1 {
				transform: rotate(-10deg);
			}

			&--2 {
				position: absolute;
				top: 15px;
				left: 25px;
				transform: rotate(-15deg);
			}
		}
	}
}


// *** 3. SECTION "SERVICES" ***
// =============================
.sect-services {
	background-color: $highlightColor;
}

.services-items {
	display: flex;
	@include max-screen($mobile) {
		@include vis-hid;
	}
	@include screen($tablet, $tablet-max) {
		margin: 0 -15px;
	}
}

.services-item {
	flex: 1;
	padding: 70px 20px 60px 45px;
	color: $whiteColor;
	border-left: 1px solid rgba($borderColor1, 0.4);
	transition: all 0.25s ease-in-out;
	//@include max-screen($mobile) {
	//	display: flex;
	//	flex-direction: column;
	//	align-items: center;
	//	justify-content: center;
	//	margin: 0 -15px;
	//	padding: 40px 0 50px;
	//	border-left: 0;
	//	border-bottom: 1px solid rgba($borderColor1, 0.4);
	//}

	&:last-child {
		border-right: 1px solid rgba($borderColor1, 0.4);
		//@include max-screen($mobile) {
		//	border-right: 0;
		//}
	}
	&:hover {
		color: $highlightColor;
		background-color: $whiteColor;
		//@include max-screen($mobile) {
		//	color: $whiteColor;
		//	background-color: transparent;
		//}

		&:first-child {
			box-shadow: -4px 4px 24px 0 rgba(0, 0, 0, 0.21);
			//@include max-screen($mobile) {
			//	box-shadow: none;
			//}
		}
		&:nth-child(2) {
			box-shadow: 0 5px 24px 0 rgba(0, 0, 0, 0.21);
			//@include max-screen($mobile) {
			//	box-shadow: none;
			//}
		}
		&:last-child {
			box-shadow: 4px 4px 24px 0 rgba(0, 0, 0, 0.21);
			//@include max-screen($mobile) {
			//	box-shadow: none;
			//}
		}

		.services-item__icon svg {
			fill: $highlightColor;
			//@include max-screen($mobile) {
			//	fill: $whiteColor;
			//}
		}
	}

	&__icon {
		svg {
			fill: $whiteColor;
		}

		&--1,
		&--3 {
			svg {
				width: 71px;
				height: 70px;
			}
		}

		&--2 {
			svg {
				width: 78px;
				height: 70px;
			}
		}
	}

	&__content {
		//@include max-screen($mobile) {
		//	width: 100%;
		//	padding: 28px 40px 16px;
		//	color: $titleColor;
		//	background-color: $whiteColor;
		//	//transform-origin: top;
		//	//transform: scaleY(0);
		//	transition: all 0.25s ease-in-out;
		//	&.active {
		//
		//	}
		//}
	}

	&__title {
		font-family: $openSansFont;
		font-size: 20px;
		font-weight: bold;
		line-height: 28px;
		text-transform: uppercase;
		//@include max-screen($mobile) {
		//	margin: 7px 0 0;
		//	font-size: 18px;
		//	line-height: 24px;
		//}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;

		&-item {
			position: relative;
			display: block;
			padding-left: 8px;
			font-family: $openSansFont;
			font-size: 14px;
			font-weight: normal;
			line-height: 24px;

			&::after {
				content: '-';
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

.service-accordion-btn {
	@include btn-tag;
	position: relative;
	bottom: -19px;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 38px;
	height: 38px;
	border-radius: 100%;
	background-color: $whiteColor;
	box-shadow: 0 3px 10px 0 rgba($blackColor, 0.23);
	&.active {
		span {
			&:last-child {
				@include vis-hid;
			}
		}
	}

	span {
		position: absolute;
		display: block;
		width: 12px;
		height: 2px;
		background-color: $highlightColor;
		transition: all 0.25s ease-in-out;
		&:last-child {
			transform: rotate(90deg);
		}
	}
}

// Mobile version
.m-services-items {
	margin: 0 -15px 50px;
	@include min-screen($tablet) {
		@include vis-hid;
	}
	&__title {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0;
		padding: 40px 0 0;
		outline: 0;
		&::after {
			content: '';
			position: absolute;
			bottom: -50px;
			left: 0;
			display: block;
			width: 100%;
			height: 50px;
			border-top: 1px solid rgba($whiteColor, 0.2);
			background-color: $highlightColor;
		}
		&.ui-state-active {
			position: relative;
			z-index: 2;
			box-shadow: 0 5px 8px 0 rgba($blackColor, 0.15);
			&::after {
				@include vis-hid;
			}

			.service-accordion-btn {
				span:last-child {
					@include vis-hid;
				}
			}
		}

		svg {
			fill: $whiteColor;
		}
	}

	&__descr {
		display: block;
		margin: 15px 0;
		color: $whiteColor;
		font-family: $openSansFont;
		font-size: 18px;
		line-height: 24px;
		text-transform: uppercase;
	}

	&__content {
		position: relative;
		padding: 30px 40px 65px;
		background-color: $whiteColor;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 50px;
			background-color: $highlightColor;
		}
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style: none;
		&-item {
			position: relative;
			padding-left: 10px;
			color: $titleColor;
			font-family: $openSansFont;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;

			&::before {
				content: '-';
				position: absolute;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
			}
		}
	}
}


// *** 4. SECTION "WHY US" ***
// ===========================
.sect-whyUs {
	padding: 94px 0;
	@include max-screen($mobile) {
		padding: 45px 0 50px;
	}

	&__title {
		margin: 0 0 45px;
		color: $titleColor;
		font-family: $openSansFont;
		font-size: 30px;
		font-weight: bold;
		line-height: 28px;
		text-transform: uppercase;
		text-align: center;
		@include max-screen($mobile) {
			margin: 0 0 35px;
			font-size: 24px;
			line-height: 28px;
		}

		span {
			color: $highlightColor  ;
		}
	}
}

.whyUs-slider {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__thumbs {
		flex: 1 40%;
		max-width: 40%;
		@include max-screen($mobile) {
			@include vis-hid;
		}
	}

	&__accordion {
		flex: 1 50%;
		max-width: 50%;
		@include max-screen($mobile) {
			flex: 1 100%;
			max-width: 100%;
		}
	}
}

.slider-thumb {
	display: none;
	&.active {
		display: block;
		img {
			animation: scale 0.5s ease-in-out;
		}
	}
}

.accordion-tab {
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 40px;
	@include max-screen($mobile) {
		margin-bottom: 0;
		padding-bottom: 40px;
	}
	&:last-child {
		margin-bottom: 0;
		@include max-screen($mobile) {
			padding-bottom: 0;
		}
		&::after {
			@include vis-hid;
		}
	}
	&::after {
		content: '';
		position: absolute;
		top: 58px;
		left: 30px;
		z-index: -1;
		width: 1px;
		height: 100%;
		background-color: $highlightColor;
		@include min-screen($tablet) {
			@include vis-hid;
		}
	}

	input[type="radio"] {
		box-sizing: border-box;
		position: absolute;
		z-index: -1;
		padding: 0;
		opacity: 0;
	}

	&__content {
		//display: none;
		max-height: 0;
		overflow: hidden;
		padding-left: 100px;
		transition: max-height 0.5s;
		font-size: 16px;
		line-height: 24px;
		@include max-screen($mobile) {
			padding-left: 64px;
			font-size: 14px;
			line-height: 22px;
		}

		p {
			margin: 0;
		}
	}

	/* :checked */
	input[type="radio"]:checked ~ .accordion-tab__content {
		//display: block;
		max-height: 4.4em;
		@include max-screen($mobile) {
			max-height: 9em;
		}
	}
	input[type="radio"]:checked ~ .accordion-tab__head svg path {
		fill: $whiteColor;
	}

	&__head {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;

		svg {
			width: 100%;
			max-width: 58px;
			height: 58px;
			margin-right: 20px;
			transition: max-height 0.25s linear;
			@include max-screen($mobile) {
				margin-right: 12px;
			}

			path {
				fill-rule:evenodd;
				clip-rule:evenodd;
				fill:#2C8ECE;
				stroke:#2C8ECE;
				stroke-width:0.5;
				stroke-miterlimit:10;
			}
		}
	}

	&__title {
		display: block;
		color: $titleColor;
		font-family: $openSansFont;
		font-size: 24px;
		font-weight: 600;
		line-height: 28px;
		@include max-screen($mobile) {
			max-width: 50%;
			font-size: 20px;
			line-height: 28px;
			word-break: break-all;
		}
	}
}


// *** 5. SECTION "FEATURES" ***
// =============================
.sect-features {
	padding: 70px 0 60px;
	background-color: $highlightColor;
	@include max-screen($mobile) {
		padding: 50px 0 40px;
	}
}

.features-list {
	display: flex;
	align-items: baseline;
	@include max-screen($mobile) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.features-item {
	flex: 1;
	color: $whiteColor;
	font-family: $openSansFont;
	text-align: center;
	@include max-screen($mobile) {
		max-width: 70%;
		margin-bottom: 33px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&__descr {
		font-size: 18px;
		font-weight: normal;
		line-height: 24px;
		@include max-screen($mobile) {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

.features-head {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	@include max-screen($mobile) {
		margin-bottom: 15px;
	}

	&__num {
		margin-left: 12px;

		font-family: $juraFont;
		font-size: 42px;
		font-weight: bold;
		line-height: 24px;
		text-transform: uppercase;
	}
}


// *** 6. SECTION "PORTFOLIO" ***
// ==============================
.sect-portfolio {
	padding: 97px 0;
	background-color: $grayColor;
	@include max-screen($mobile) {
		padding: 40px 0;
	}

	&__title {
		margin: 0 0 15px;
		color: $titleColor;
		font-size: 45px;
		font-weight: bold;
		line-height: 51px;
		text-transform: uppercase;
		text-align: center;
		@include max-screen($mobile) {
			@include vis-hid;
		}
		@include screen($tablet, $tablet-max) {
			font-size: 40px;
			line-height: 48px;
		}
	}

	&__subtitle {
		margin: 0;
		color: $titleColor;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		@include max-screen($mobile) {
			@include vis-hid;
		}
	}
}

.portfolio-slider {
	position: relative;
	margin-top: 180px;
	@include max-screen($mobile) {
		@include vis-hid;
	}

	&__pager {
		display: block;
		width: 185px;
		max-width: 185px;
		max-height: 45px;
		padding: 15px;

		color: $titleColor;
		font-size: 14px;
		line-height: 1;
		font-weight: normal;
		text-align: center;
		text-transform: uppercase;

		border: 1px solid $highlightColor;
		background-color: transparent;
		transition: all 0.25s ease-in-out;

		&:hover {
			color: $whiteColor;
			background-color: $highlightColor;
		}
	}

	// Custom Slick Carousel styles
	.slick-prev,
	.slick-next {
		top: 30%;

		width: 25px;
		height: 25px;

		border: solid $highlightColor;
		border-width: 0 2px 2px 0;
		&:before,
		&:after {
			content: '';
			position: absolute;

			display: inline-block;
			width: 100%;
			height: 100%;

			opacity: 1;
		}
		&:before {
			color: inherit;
			font-family: inherit;
			font-size: 0;
			line-height: inherit;
		}
	}

	.slick-prev {
		left: -45px;
		transform: rotate(135deg);
	}

	.slick-next {
		right: -45px;
		transform: rotate(-45deg);
	}

	.slick-dots {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		bottom: auto;
		top: -140px;


		li {
			display: block;
			width: auto;
			height: auto;
			margin: 2px;

			&.slick-active {
				a {
					color: $whiteColor;
					background-color: $highlightColor;
				}
			}
		}
	}
}

.portfolio-slide {
	position: relative;

	height: 620px;
	overflow: hidden;
	margin: 0 10px;

	outline: 0;

	//&__img {
	//	position: absolute;
	//
	//	&--ipad {
	//		right: 0;
	//		bottom: 0;
	//	}
	//
	//	&--iphone {
	//		right: 27%;
	//		bottom: 0;
	//	}
	//}
}

// Mobile version
.m-sect-portfolio__title {
	margin: 0 0 20px;
	color: $titleColor;
	font-family: $openSansFont;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	@include min-screen($tablet) {
		@include vis-hid;
	}

	span {
		display: block;
		color: $highlightColor;
	}
}

.m-portfolio-slider {
	@include min-screen($tablet) {
		@include vis-hid;
	}
	.slick-dots {
		bottom: -30px;
		li {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 15px;
			height: 15px;
			margin: 0 9px;
			button {
				height: 11px;
				width: 11px;
				border-radius: 100%;
				background-color: #d1d1d1;
				&::before {
					@include vis-hid;
				}
			}
			&.slick-active {
				button {
					width: 15px;
					height: 15px;
					background-color: #0093e5;
				}
			}
		}
	}
}

.m-portfolio-slide {
	&__title {
		margin-bottom: 15px;
		color: #6b6b6b;
		font-family: $openSansFont;
		font-size: 16px;
		font-weight: bold;
		line-height: 1;
		text-transform: uppercase;
		text-decoration: underline;
		text-align: center;
	}

	&__img {
		max-width: 230px;
		margin: 0 auto;
		img {
			margin: 0 auto;
		}
	}
}


// *** 7. SECTION "TESTIMONIALS" ***
// =================================
.sect-testimonials {
	padding: 97px 0 93px;
	//background: #000 url("../img/backgrounds/testimonials_bg.jpg") no-repeat center;
	//background-size: cover;
	@include max-screen($mobile) {
		padding: 42px 0;
	}

	&__title {
		margin: 0 0 55px;
		color: $highlightColor;
		font-family: $openSansFont;
		font-size: 30px;
		font-weight: bold;
		line-height: 28px;
		text-transform: uppercase;
		text-align: center;
		@include max-screen($mobile) {
			margin: 0 0 30px;
			font-size: 24px;
			line-height: 32px;
		}

		span {
			color: $titleColor;
			@include max-screen($mobile) {
				display: block;
			}
		}
	}

	// Custom "Slick Carousel" styles
	.slick-track {
		display: flex;
		align-items: center;
	}

	.slick-dots {
		bottom: -30px;
		li {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 15px;
			height: 15px;
			margin: 0 9px;
			button {
				height: 11px;
				width: 11px;
				border-radius: 100%;
				background-color: #d1d1d1;
				&::before {
					@include vis-hid;
				}
			}
			&.slick-active {
				button {
					width: 15px;
					height: 15px;
					background-color: #0093e5;
				}
			}
		}
	}
}

.testimonials-list {
	display: flex;
	align-items: center;
}

.testimonials-item {
	flex: 1;
	margin: 0 10px;
	color: $whiteColor;
	text-align: center;

	&__descr {
		font-family: $openSansFont;
		font-size: 14px;
		font-weight: normal;
		line-height: 24px;
		letter-spacing: -0.01em;
	}

	img {
		margin: 0 auto;
	}
}

.testimonials-head {
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 30px;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;

		display: block;
		width: 47px;
		height: 3px;
		background-color: $borderColor2;

		transform: translateX(-50%);
	}

	&__name {
		display: block;
		margin-top: 30px;

		font-family: $openSansFont;
		font-size: 20px;
		font-weight: 600;
		line-height: 24px;
		text-transform: uppercase;
	}
}


// *** 8. SECTION "CORRUPT" ***
// ============================
.sect-corrupt {
	padding: 32px 0;
	background-color: $highlightColor;
	@include max-screen($mobile) {
		@include vis-hid;
	}

	&__descr {
		margin: 0;
		color: $whiteColor;
		font-family: $juraFont;
		font-size: 24px;
		font-weight: bold;
		line-height: 38px;
		text-transform: uppercase;
		text-align: center;
		@include screen($tablet, $tablet-max) {
			font-size: 20px;
			line-height: 34px;
		}
	}
}


// *** 9. SECTION "PRICING" ***
// ============================
.sect-pricing {
	padding: 97px 0 50px;
	@include max-screen($mobile) {
		padding: 42px 0 50px;
		background-color: $grayColor;
	}

	&__title {
		margin: 0 0 47px;
		color: $titleColor;
		font-family: $openSansFont;
		font-size: 30px;
		font-weight: bold;
		line-height: 28px;
		text-transform: uppercase;
		text-align: center;
		@include max-screen($mobile) {
			margin: 0 0 22px;
			font-size: 24px;
			line-height: 32px;
		}

		span {
			color: $highlightColor;
			@include max-screen($mobile) {
				display: block;
			}
		}
	}
}

.pricing-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@include max-screen($mobile) {
		@include vis-hid;
	}
	@include screen($tablet, $tablet-max) {
		justify-content: center;
	}
}

.pricing-box {
	flex: 1 282px;
	width: 100%;
	max-width: 282px;
	margin-bottom: 50px;
	padding-bottom: 30px;
	color: $blackColor;
	font-family: $openSansFont;
	text-align: center;
	background-color: $grayColor;
	transform: scale(1);
	transition: all 0.15s linear;
	//@include max-screen($mobile) {
	//	flex: 1;
	//	max-width: 85%;
	//	margin-bottom: 30px;
	//	border-radius: 5px;
	//	background-color: $highlightColor;
	//	box-shadow: 0 9px 24px 0 rgba($blackColor, 0.25);
	//	&:last-child {
	//		margin-bottom: 0;
	//	}
	//}
	@include screen($tablet, $tablet-max) {
		margin: 0 30px 50px;
	}

	&--share {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			top: -8px;
			left: -8px;
			display: block;
			width: 84px;
			height: 86px;
			background: transparent url("../img/icons/share.png") no-repeat;
		}
	}

	&__head {
		padding: 35px 0;
		color: $highlightColor;
		//@include max-screen($mobile) {
		//	position: relative;
		//	padding: 25px 0 30px;
		//	color: $whiteColor;
		//	border-top-left-radius: 5px;
		//	border-top-right-radius: 5px;
		//	border-bottom: 1px solid rgba($whiteColor, 0.2);
		//	background-color: $highlightColor;
		//	box-shadow: 0 9px 24px 0 rgba($blackColor, 0.25);
		//}
	}

	&__service {
		display: block;
		margin-bottom: 15px;
		font-size: 20px;
		font-weight: bold;
		line-height: 24px;
		//@include max-screen($mobile) {
		//	margin-bottom: 0;
		//	font-size: 22px;
		//}
	}

	&__price {
		display: block;
		font-family: $juraFont;
		font-size: 64px;
		font-weight: normal;
		line-height: 45px;
		text-transform: uppercase;
		//@include max-screen($mobile) {
		//	font-size: 48px;
		//}

		small {
			font-size: 16px;
			line-height: 29px;
			//@include max-screen($mobile) {
			//	margin-left: 10px;
			//	font-size: 16px;
			//}
		}
	}

	&__month {
		display: block;
		color: $darkGrayColor;
		font-family: Arial, Tahoma, sans-serif;
		font-size: 14px;
		font-weight: normal;
		line-height: 35px;
		//@include max-screen($mobile) {
		//	@include vis-hid;
		//}
	}

	&__list {
		margin: 0 0 20px;
		padding: 0;
		list-style: none;
		//@include max-screen($mobile) {
		//	margin: 0;
		//	padding: 26px 0 0;
		//	background-color: $whiteGrayColor;
		//}
	}

	&__item {
		display: block;
		font-size: 12px;
		font-weight: normal;
		line-height: 38px;
		//@include max-screen($mobile) {
		//	font-size: 11px;
		//}

		&:nth-child(odd) {
			background-color: $whiteGrayColor;
			//transition: all 0.15s linear;
		}
	}

	&__order {
		display: inline-block;
		padding: 15px 41px;
		color: $highlightColor;
		font-family: Arial, Tahoma, sans-serif;
		font-size: 14px;
		//font-weight: bold;
		font-weight: normal;
		line-height: 1;
		text-transform: uppercase;
		text-align: center;
		border: 2px solid $highlightColor;
		background-color: transparent;
		transition: all 0.25s ease-in-out;
		//@include max-screen($mobile) {
		//	margin-top: 30px;
		//	color: $whiteColor;
		//	border: 1px solid $whiteColor;
		//}
	}

	&:hover {
		color: $whiteColor;
		background-color: $highlightColor;
		box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.25);
		transform: scale(1.022);
		//@include max-screen($mobile) {
		//	color: $blackColor;
		//	box-shadow: 0 9px 24px 0 rgba($blackColor, 0.25);
		//	transform: none;
		//}

		.pricing-box__head {
			color: $whiteColor;
			background-color: $highlightColor;
		}

		.pricing-box__month {
			color: $whiteColor;
		}

		.pricing-box__item:nth-child(odd) {
			background-color: $highlightColor;
			//@include max-screen($mobile) {
			//	background-color: $grayColor;
			//}
		}

		.highlight-color {
			color: $whiteColor;
		}

		.pricing-box__order {
			background-color: $whiteColor;
			border-color: $whiteColor;
			//@include max-screen($mobile) {
			//	background-color: transparent;
			//}
		}
	}
}

.pricing-accordion-btn {
	@include btn-tag;
	position: relative;
	bottom: -18px;
	z-index: 2;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	background-color: $whiteColor;
	box-shadow: 0 3px 10px 0 rgba($blackColor, 0.23);
	transition: all 0.25s;

	span {
		display: block;
		width: 6px;
		height: 2px;
		background-color: $highlightColor;
		&:first-child {
			margin-right: -1.5px;
			transform: rotate(45deg);
		}
		&:last-child {
			margin-left: -1.5px;
			transform: rotate(-45deg);
		}
	}
}

// Mobile version
.m-pricing-grid {
	@include min-screen($tablet) {
		@include vis-hid;
	}
}

.m-pricing-box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px 0 0;
	padding: 25px 0 50px;
	color: $whiteColor;
	text-align: center;
	border-radius: 5px;
	//border-top-left-radius: 5px;
	//border-top-right-radius: 5px;
	background-color: $highlightColor;
	outline: 0;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 50px;
		border-top: 1px solid rgba($whiteColor, 0.20);
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: $highlightColor;
		transition: all 0.25s ease-in-out;
	}
	&:first-child {
		margin: 0;
	}
	&.ui-state-active {
		padding: 25px 0 0;
		box-shadow: 0 9px 24px 0 rgba($blackColor, 0.25);
		&::after {
			@include vis-hid;
		}
		.pricing-accordion-btn {
			transform: rotate(180deg);
		}
	}

	&__title {
		display: block;
		margin-bottom: 8px;
		font-family: $openSansFont;
		font-size: 22px;
		font-weight: bold;
		line-height: 24px;
	}

	&__price {
		font-family: $juraFont;
		font-size: 48px;
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;

		small {
			font-size: 16px;
		}
	}

	&__month {
		font-family: $arialFont;
		font-size: 14px;
		font-weight: 400;
		line-height: 1;
	}

	&__order {
		padding: 30px 0;
		text-align: center;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		background-color: $highlightColor;

		a {
			display: inline-block;
			padding: 15px 41px;
			color: $whiteColor;
			font-family: $arialFont;
			font-size: 14px;
			font-weight: normal;
			line-height: 1;
			text-transform: uppercase;
			text-align: center;
			border: 1px solid $whiteColor;
			background-color: transparent;
			transition: all 0.25s ease-in-out;

			&:hover,
			&:active,
			&.active {
				color: $highlightColor;
				background-color: $whiteColor;
			}
		}
	}

	&__content {
		&.ui-accordion-content-active {
			box-shadow: 0 9px 24px 0 rgba($blackColor, 0.25);
		}
	}

	&__list {
		margin: 0;
		padding: 15px 0 0;
		list-style: none;
		text-align: center;
		background-color: $whiteGrayColor;
	}

	&__item {
		display: block;
		padding: 4px 0;
		color: $blackColor;
		font-family: $openSansFont;
		font-size: 11px;
		font-weight: 400;
		line-height: 29px;
		&:nth-child(even) {
			background-color: $grayColor;
		}
	}
}

// *** 10. SECTION "TECHNOLOGIES" ***
// ==================================
.sect-tech {
	padding: 97px 0 110px;
	background: $blackColor url("../img/backgrounds/testimonials_bg.jpg") no-repeat center;
	background-size: cover;
	@include max-screen($mobile) {
		padding: 42px 0;
	}

	&__title {
		margin: 0 0 55px;
		color: $whiteColor;
		font-family: $openSansFont;
		font-size: 30px;
		font-weight: bold;
		line-height: 28px;
		text-transform: uppercase;
		text-align: center;
		@include max-screen($mobile) {
			@include vis-hid;
		}
		@include screen($tablet, $tablet-max) {
			font-size: 25px;
		}

		span {
			color: $highlightColor;
		}
	}

	// Custom "Slick Carousel" styles
	.slick-track {
		display: flex;
		align-items: center;
	}
	.slick-dots {
		bottom: -30px;
		li {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			width: 15px;
			height: 15px;
			margin: 0 9px;
			button {
				width: 11px;
				height: 11px;
				border-radius: 100%;
				background-color: #d1d1d1;
				transition: all 0.25s ease-in-out;
				&::before {
					@include vis-hid;
				}
			}
			&.slick-active {
				button {
					width: 15px;
					height: 15px;
					background-color: $highlightColor;
				}
			}
		}
	}
}

.m-sect-tech__title {
	margin: 0 0 10px;
	color: $whiteColor;
	font-family: $openSansFont;
	font-size: 24px;
	font-weight: bold;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	@include min-screen($tablet) {
		@include vis-hid;
	}

	span {
		color: $highlightColor;
	}
}

.tech-item {
	margin: 0 10px;
	outline: 0;

	img {
		margin: 0 auto;
	}
}


// *** 11. SECTION "MAP" ***
// =========================
.sect-map {
	position: relative;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: 0;
		z-index: 2;

		width: 100%;
		height: 8px;
	}
	&::before {
		top: 0;
		background: $highlightColor url("../img/google-map/top-line.png") repeat-x;
	}
	&::after {
		bottom: 0;
		background: $highlightColor url("../img/google-map/bottom-line.png") repeat-x;
	}
}
.google-map {
	//width: 100%;
	height: 320px;
	iframe {
		width: 100%;
		height: 320px;

		border: none;
	}
}


// *** MAIN FOOTER ***
// ===================
.main-footer {
	width: 100%;

	background-color: $whiteColor;
}

.footer-contacts {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 70px 0 45px;
	@include max-screen($mobile) {
		padding: 50px 0 0;
	}

	&__info {
		width: 100%;
		max-width: 380px;
		color: $titleColor;
		font-family: $openSansFont;
		@include max-screen($mobile) {
			max-width: 100%;
			padding-bottom: 44px;
		}
		@include screen($tablet, $tablet-max) {
			margin: 0 auto 50px;
		}
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 31px;
		height: 31px;
		margin-right: 20px;
		border-radius: 100%;
		border: 1px solid $highlightColor;
		background-color: transparent;
		@include max-screen($mobile) {
			width: 50px;
			height: 50px;
			margin-right: 0;
			margin-bottom: 10px;
		}

		svg {
			fill: $highlightColor;
		}

		&--phone {
			svg {
				width: 15px;
				height: 15px;
				@include max-screen($mobile) {
					width: 24px;
					height: 24px;
				}
			}
		}

		&--mail {
			svg {
				width: 19px;
				height: 11px;
				@include max-screen($mobile) {
					width: 31px;
					height: 18px;
				}
			}
		}

		&--address {
			svg {
				width: 13px;
				height: 17px;
				@include max-screen($mobile) {
					width: 21px;
					height: 27px;
				}
			}
		}
	}

	&__phones {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 58px;
		@include max-screen($mobile) {
			flex-direction: column;
			align-items: center;
			margin-bottom: 40px;
		}
		@include screen($tablet, $tablet-max) {
			margin-bottom: 20px;
		}
	}

	&__phone {
		display: block;
		color: $titleColor;
		font-size: 14px;
		font-weight: 600;

		&:hover,
		&:active,
		&.active {
			color: $highlightColor;
		}
	}

	&__mail {
		display: flex;
		align-items: center;
		margin-bottom: 19px;
		@include max-screen($mobile) {
			flex-direction: column;
			margin-bottom: 30px;
		}

		&-link {
			color: $titleColor;
			font-family: $openSansFont;
			font-size: 14px;
			font-weight: 600;
			line-height: 1;
			transition: all 0.25s ease-in-out;

			&:hover,
			&:active,
			&.active {
				color: $highlightColor;
			}
		}
	}

	&__address {
		display: flex;
		align-items: center;
		margin-bottom: 19px;
		@include max-screen($mobile) {
			flex-direction: column;
			margin-bottom: 30px;
		}
	}

	&__location {
		font-size: 14px;
		font-weight: 600;
		line-height: 1;
	}

	&__welcome {
		color: $highlightColor;
		font-family: $juraFont;
		font-size: 24px;
		font-weight: bold;
		line-height: 36px;
		@include max-screen($mobile) {
			color: #363636;
			font-size: 18px;
			line-height: 22px;
			text-align: center;
		}
		@include screen($tablet, $tablet-max) {
			text-align: center;
		}

		p {
			margin: 0;
		}
	}

	&__form {
		width: 100%;
		max-width: 460px;
		margin: 0 auto;
		overflow: hidden;
		@include screen($tablet, $tablet-max) {
			max-width: none;
		}
	}
}

.contacts-form {

	&__wrapper {
		margin: 0;
		padding: 0;
		border: none;
		@include screen($tablet, $tablet-max) {
			width: 100%;
			max-width: 500px;
			margin: 0 auto;
		}
	}

	&__title {
		display: block;
		margin: 0 0 45px;
		padding: 0;
		color: $highlightColor;
		font-family: $openSansFont;
		font-size: 36px;
		font-weight: bold;
		line-height: 24px;
		text-transform: uppercase;
		@include max-screen($mobile) {
			text-align: center;
		}
		@include screen($tablet, $tablet-max) {
			margin: 0 0 30px;
			text-align: center;
		}
	}

	&__control {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 220px;
		@include max-screen($mobile) {
			display: block;
			max-width: 100%;
			margin-bottom: 40px;
		}
		@include screen($tablet, $tablet-max) {
			display: block;
			max-width: none;
			margin: 0 0 20px;
		}

		&--name {
			margin-right: 15px;
			@include screen($mobile, $tablet-max) {
				margin-right: 0;
			}
		}

		&--phone {
			max-width: 100%;
			margin: 30px 0;
			@include screen($tablet, $tablet-max) {
				margin: 0 0 20px;
			}
		}

		&--textarea {
			display: block;
			width: 100%;
			max-width: 100%;
			@include max-screen($mobile) {
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		&--hidden {
			@include vis-hid;
		}

		&--button {
			max-width: 100%;
			margin-top: 20px;
			text-align: right;
			@include max-screen($mobile) {
				margin-bottom: 50px;
				text-align: center;
			}
		}

		input,
		textarea {
			box-sizing: border-box;
			display: block;
			width: 100%;
			padding: 12px 15px;

			color: $titleColor;
			font-family: $openSansFont;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.4;

			border: 1px solid $grayColor;
			border-radius: 0;
			background-color: transparent;
			outline: 0;
			transition: all 0.25s ease-in-out;
		}

		input {
			max-height: 45px;
			&.error {
				color: red;
				border-color: red;
			}
		}

		label.error {
			position: absolute;
			top: -25px;
			color: red;
			font-family: $openSansFont;
			font-size: 12px;
			line-height: 1;
		}

		textarea {
			width: 100%;
			height: 90px;
			resize: none;
			@include max-screen($mobile) {
				height: 144px;
			}
		}

		button {
			@include button(inline-block);
			box-sizing: border-box;
			box-shadow: 4px 4px 15px 0 rgba($blackColor, 0.15);

			&::before {
				background-color: $linearColor2;
			}
		}
	}
}

.footer-copyrights {
	padding: 11.5px 0;
	color: #c3c3c3;
	font-family: $openSansFont;
	font-size: 12px;
	font-weight: normal;
	line-height: 24px;
	text-align: center;
	background-color: #363636;
	@include max-screen($mobile) {
		padding: 12px 0;
	}

	small {
		font-size: 12px;
		@include max-screen($mobile) {
			font-size: 11px;
			line-height: 24px;
		}
	}
}


// *** THANK YOU PAGE ***
// ======================
.inner-page {
	margin-top: 71px;
	padding: 180px 0;
	@include max-screen($mobile) {
		margin-top: 47px;
		padding: 100px 0;
	}
}
.thank-you {
	color: $titleColor;
	text-align: center;

	&__title {
		@include max-screen($mobile) {
			font-size: 1.5em;
			line-height: 1.43;
		}
	}

	&__subtitle {
		@include max-screen($mobile) {
			font-size: 1em;
		}
	}

	&__descr {
		@include max-screen($mobile) {
			font-size: 14px;
		}
	}
}


// *** PAGE BOTTOM LINK ***
// ========================
.portfolio-link {
	position: fixed;
	top: 50%;
	right: -81px;
	z-index: 99;
	display: block;
	height: 44px;
	transform: rotate(270deg);
	transition: all 0.5s;
	&:hover,
	&:active,
	&.active {
		right: -69px;
	}
	//@include max-screen($mobile) {
	//	right: -69px;
	//}

	svg {
		width: 180.9px;
		height: 44px;
		path {
			fill: $borderColor2;
		}
	}

	span {
		position: absolute;
		top: 10px;
		left: 50%;
		font-family: $juraFont;
		color: $whiteColor;
		font-size: 18px;
		font-weight: 600;
		line-height: 1;
		text-transform: uppercase;
		transform: translateX(-50%);
	}
}


// *** TOTOP ***
// =============
.to-top {
	@include btn-tag;
	position: fixed;
	bottom: 50px;
	right: 50px;
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background-color: $highlightColor;
	border-radius: 50%;
	box-shadow: 0 12px 18px 0 rgba($blackColor, 0.25);
	transition: all .25s ease-in-out;
	&.hidden {
		@include vis-hid;
	}
	@include max-screen($mobile) {
		right: 25px;
		bottom: 100px;
	}

	span {
		display: block;
		width: 15px;
		height: 2px;
		background-color: $whiteColor;
		transform: rotate(-45deg);
		transition: all .25s ease-in-out;

		&:last-child {
			margin-left: -5px;
			transform: rotate(45deg);
		}
	}

	&:hover,
	&:active,
	&.active {
		background-color: $whiteColor;

		span {
			background-color: $highlightColor;
		}
	}
}

// *** ANIMATIONS ***
// ==================
@keyframes scale {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
